
[user]
	email = phorton@softstackfactory.com
	name = Peter Horton
[alias]
  conflicted = '!nvim +Conflicted'
	incoming = !git fetch && git log --oneline ..@{u}
	outgoing = !git fetch && git log --oneline @{u}..
	last = log -1 HEAD --stat
	se = !git rev-list --all | xargs git grep -F
  rhp = reset --hard origin/$(current_branch)
  cnoc = commit -a --amend --no-edit
  restfile = git reset @~ "$@" && git commit --amend --no-edit
  forcep =  git push --force-with-lease origin $(current_branch)
  nb = checkout -b
  del = branch -D
  br =  branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  co = checkout
  c = commit -m
  l = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
  rename = branch -m
  rh = reset --hard
	root = rev-parse --show-toplevel
	root = !pwd
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
